{{#partial "head"}}
    <title>welcome</title>
{{/partial}}
{{#partial "contents"}}
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>#</th>
            <th>로그인 아이디</th>
            <th>이름</th>
            <th>이메일</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{{/partial}}
{{> layout/base}}
